a:link {
	    color: white;
	    background-color: transparent;
	    text-decoration: none;
}
a:visited {
	    color: white;
	    background-color: transparent;
	    text-decoration: none;
}
a:hover {
	    color: red;
	    background-color: transparent;
	    text-decoration: underline;
}
a:active {
	    color: yellow;
	    background-color: transparent;
	    text-decoration: underline;
}

.resultContainer {width:150px;min-height:80px;position:relative;}
.viewThisResult {position:absolute;}

.resultContainer .viewThisResult {
    display: none;
}
.resultContainer:hover .viewThisResult {
    display: inline;
}