a:link {
	    color: white;
	    background-color: transparent;
	    text-decoration: none;
}
a:visited {
	    color: white;
	    background-color: transparent;
	    text-decoration: none;
}
a:hover {
	    color: red;
	    background-color: transparent;
	    text-decoration: underline;
}
a:active {
	    color: yellow;
	    background-color: transparent;
	    text-decoration: underline;
}

p {
	padding-right: 8cm;
	padding-left: 8cm;
}